<!DOCTYPE html>
<html>
  <footer>
    <%= render 'layouts/menu' %>
  </footer>
  <head>
    <title>FootballCH</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <br>
    <p>Coming soon...</p>
  </body>
</html>
